<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Occupancy on Roof
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.13. Occupancy on Roof</b></p> <p class="subsection-e"><b>  (1) </b>A portion of a roof that supports an <i>occupancy</i>shall be constructed in conformance with the <i>fire separation</i> requirements of Articles <a href="/content/146" title="Group A, Division 1, Any Height, Any Area, Sprinklered">3.2.2.20.</a> to <a href="/content/211" title="Group F, Division 3, Storage Garages up to 22 m High">3.2.2.83.</a> for floor assemblies.</p> 
	  
      
	  
	  
	  
	  
    </div>