<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Automatic Sprinkler System Required
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.18. Automatic Sprinkler System Required</b></p> <p class="subsection-e"><b>  (1) </b>If an automatic sprinkler system is required by Articles <a hx-post="/content/146">3.2.2.20.</a> to <a hx-post="/content/211">3.2.2.83.</a>, the system shall conform to the requirements of Articles <a hx-post="/content/240">3.2.4.8.</a> to <a hx-post="/content/242">3.2.4.10.</a> and <a hx-post="/content/268">3.2.5.13.</a></p> 
	  
      
	  
	  
	  
	  
    </div>