<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Automatic Sprinkler System Required
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.18. Automatic Sprinkler System Required</b></p> <p class="subsection-e"><b>  (1) </b>If an automatic sprinkler system is required by Articles <a href="/content/146" title="Group A, Division 1, Any Height, Any Area, Sprinklered">3.2.2.20.</a> to <a href="/content/211" title="Group F, Division 3, Storage Garages up to 22 m High">3.2.2.83.</a>, the system shall conform to the requirements of Articles <a href="/content/240" title="Signals to Fire Department">3.2.4.8.</a> to <a href="/content/242" title="Electrical Supervision">3.2.4.10.</a> and <a href="/content/268" title="Automatic Sprinkler Systems">3.2.5.13.</a></p> 
	  
      
	  
	  
	  
	  
    </div>