<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Stop Flaps
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.13.14. Fire Stop Flaps</b></p> <p class="subsection-e">  <b>(1) </b><i>Fire stop flaps</i> in ceiling membranes required in Sentence <a href="/content/1430" title="Permitted Openings in Wall and Ceiling Membranes">9.10.5.1.</a>(4) shall be constructed in conformance with MMAH Supplementary Standard SB-2, "Fire Performance Ratings".</p> 
	  
      
	  
	  
	  
	  
    </div>