<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Door Stops
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.13.16. door Stops</b></p> <p class="subsection-e">  <b>(1) </b>Where a door is installed so that it may damage the integrity of a <i>fire separation</i> if its swing is unrestricted, door stops shall be installed to prevent such damage.</p> <p class="ruleb-e">9.10.14. Spatial Separation Between buildings</p> 
	  
      
	  
	  
	  
	  
    </div>