<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Minor Openings in Exposing Building Face
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.14.6. Minor openings in Exposing building Face</b></p> <p class="subsection-e">  <b>(1) </b>An opening in an <i>exposing building face</i> not more than 130 cm<sup>2</sup> shall not be considered an <i>unprotected opening</i>.</p> <p class="ruleb-e">9.10.15. Spatial Separation Between Houses</p> 
	  
      
	  
	  
	  
	  
    </div>