<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Exit Passageways
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.4. exterior Exit Passageways</b></p> <p class="subsection-e">  <b>(1) </b>Where an exterior <i>exit</i> passageway provides the only <i>means of egress</i> from the rooms or <i>suites</i>it serves, the wall and ceiling finishes of that passageway, including the soffit beneath and the <i>guard</i> on the passageway, shall have a surface <i>flame-spread rating</i> of not more than 25, except that up to 10% of the total wall area and 10% of the total ceiling area is permitted to have a surface <i>flame-spread rating</i> of not more than 150.</p> 
	  
      
	  
	  
	  
	  
    </div>