<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Light Diffusers and Lenses
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.8. light Diffusers and Lenses</b></p> <p class="subsection-e">  <b>(1) </b>light diffusers and lenses having <i>flame-spread ratings</i>that exceed those permitted for the ceiling finish, shall conform to the requirements of Sentence <a href="/content/102" title="Light Diffusers and Lenses">3.1.13.4.</a>(1).</p> 
	  
      
	  
	  
	  
	  
    </div>