<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design and Installation Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.18.3. design and installation Requirements</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), fire alarm, fire detection and smoke detection devices and systems, and their installation, shall conform to Subsection 3.2.4. and Articles <a hx-post="/content/291">3.2.7.8.</a> and <a hx-post="/content/293">3.2.7.10.</a></p> <p class="subsection-e"><b>  (2) </b>Articles <a hx-post="/content/233">3.2.4.1.</a>, <a hx-post="/content/243">3.2.4.11.</a>, <a hx-post="/content/244">3.2.4.12.</a>, <a hx-post="/content/245">3.2.4.13.</a>, <a hx-post="/content/246">3.2.4.14.</a>, <a hx-post="/content/254">3.2.4.22.</a> and <a hx-post="/content/255">3.2.4.23.</a> do not apply to Part 9 <i>buildings</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>