<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Portions of Buildings Considered as Separate Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.18.6. Portions of buildings Considered as Separate Buildings</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), where a vertical <i>fire separation</i> having a <i>fire-resistance rating</i>of at least 1 h separates a portion of a <i>building </i>from the remainder of the <i>building</i> and there are no openings through the <i>fire separation</i> other than those for piping, tubing, wiring and conduit, the requirements for fire alarm and detection systems is permitted to be applied to each portion so separated as if it were a separate <i>building</i>.</p> <p class="subsection-e">  <b>(2) </b>The permission in Sentence (1) to consider separated portions of a <i>building</i> as separate <i>buildings</i>does not apply to <i>service rooms</i> and storage rooms.</p> 
	  
      
	  
	  
	  
	  
    </div>