<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Open-Air Storage Garages
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.18.8. Open-Air Storage garages</b></p> <p class="subsection-e">  <b>(1) </b>Except as required in Article <a href="/content/1522" title="Access Provided through a Firewall">9.10.18.1.</a>, a fire alarm system is not required in a <i>storage garage</i> conforming to Article <a href="/content/211" title="Group F, Division 3, Storage Garages up to 22 m High">3.2.2.83.</a> provided there are no other <i>occupancies</i> in the <i>building</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>