<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Adjustments to Footing Area for Columns
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.3.7. Adjustments to footing Area for columns</b></p> <p class="subsection-e">  <b>(1) </b>The footing area for column spacings other than shown in Table <a href="/content/1616" title="Basic Footing Widths and Areas">9.15.3.4.</a> shall be adjusted in proportion to the distance between columns.</p> 
	  
      
	  
	  
	  
	  
    </div>