<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Non-Conforming Chases or Recesses
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.7.4. Non-Conforming Chases or Recesses</b></p> <p class="subsection-e">  <b>(1) </b>Chases or recesses that do not conform to the limits specified in Articles <a href="/content/1706" title="Maximum Dimensions">9.20.7.1.</a> to <a href="/content/1708" title="Separation of Chases and Recesses">9.20.7.3.</a> shall be considered as openings, and any masonry supported above such a chase or recess shall be supported by a lintel or arch as provided in Article <a href="/content/1699" title="Lintels or Arches">9.20.5.2.</a></p> 
	  
      
	  
	  
	  
	  
    </div>