<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Anchorage of Floor or Roof Assemblies
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.11.1. Anchorage of floor or Roof Assemblies</b></p> <p class="subsection-e">  <b>(1) </b>Where required to receive lateral support, masonry walls shall be anchored to each floor or roof assembly at maximum intervals of 2 m, except that anchorage of floor joists not more than 1 m above grade may be omitted.</p> <p class="subsection-e">  <b>(2) </b>Anchors required in Sentence (1) shall be corrosion-resistant and be not less than the equivalent of 40 mm by 4.76 mm thick steel straps.</p> <p class="subsection-e">  <b>(3) </b>Anchors required in Sentence (1) shall be shaped to provide a mechanical key with the masonry and shall be securely fastened to the horizontal support to develop the full strength of the anchor.</p> <p class="subsection-e">  <b>(4) </b>When joists are parallel to the wall, anchors required in Sentence (1) shall extend across no fewer than three joists.</p> 
	  
      
	  
	  
	  
	  
    </div>