<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.6.2. installation</b></p> <p class="subsection-e">  <b>(1) </b>When used with shingles, underlay shall be installed parallel to the eaves with head and end lap of not less than 50 mm.</p> <p class="subsection-e">  <b>(2) </b>The top edge of each strip referred to in Sentence (1) shall be fastened with sufficient roofing nails to hold it in place until the shingles are applied.</p> <p class="subsection-e">  <b>(3) </b>The underlay referred to in Sentence (1) shall overlap the eave protection by not less than 100 mm.</p> <p class="ruleb-e">9.26.7. asphalt Shingles on Slopes of 1 in 3 or Greater</p> 
	  
      
	  
	  
	  
	  
    </div>