<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Starter Strip
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.8.2. Starter Strip</b></p> <p class="subsection-e">  <b>(1) </b>A starter strip shall be installed as in Article <a href="/content/1945" title="Starter Strip">9.26.7.2.</a></p> <p class="subsection-e">  <b>(2) </b>Starter strips required in Sentence (1) shall be laid in a continuous band of cement not less than 200 mm wide.</p> 
	  
      
	  
	  
	  
	  
    </div>