<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design and Installation Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>9.33.1.1. design and installation Requirements</b></p> <p class="subsection-e">  <b>(1) </b>The design and installation of central heating systems, including requirements for combustion air, shall conform to Part 6 and this Section.</p> <p class="subsection-e">  <b>(2) </b>The design and installation of <i>air-conditioning</i> systems shall conform to Part 6.</p> <p class="subsection-e">  <b>(3) </b>Repairs or component replacements that change the capacity or extent of safety of an existing heating, ventilating or <i>air-conditioning</i> system and that alter the method of operation shall conform to this Code.</p> 
	  
      
	  
	  
	  
	  
    </div>