<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Movement
	  </h1>
      <p>
</p><p class="section-e"><b>9.33.1.3. Structural Movement</b></p> <p class="subsection-e">  <b>(1) </b>Where the <i>building </i>is in a location where the spectral response acceleration, S<sub>a</sub>(0.2), is greater than 0.55, heating and<i> air-conditioning </i>equipment with fuel or power connections shall be secured to the structure to resist overturning and displacement.</p> <p class="ruleb-e">9.33.2. Required Heating Systems</p> 
	  
      
	  
	  
	  
	  
    </div>