<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Outdoor Design Temperatures
	  </h1>
      <p>
</p><p class="section-e"><b>9.33.3.2. door Design temperatures</b></p> <p class="subsection-e">  <b>(1) </b>The door conditions to be used in designing heating, ventilating and <i>air-conditioning</i> systems shall be the appropriate values for the location as set out in MMAH Supplementary Standard SB-1, "Climatic and Seismic Data", using 2.5 percent design temperature criteria.</p> <p class="ruleb-e">9.33.4. Carbon Monoxide Alarms</p> 
	  
      
	  
	  
	  
	  
    </div>