<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Location of Equipment in Public Areas
	  </h1>
      <p>
</p><p class="section-e"><b>9.34.1.3. Location of Equipment in Public Areas</b></p> <p class="subsection-e">  <b>(1) </b>Entrance switches, meters, panel boxes, splitter boxes, time clocks and other similar equipment shall not be located in any public area unless adequate precautions are taken to prevent interference with the equipment.</p> 
	  
      
	  
	  
	  
	  
    </div>