<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.38.1.1. application</b></p> <p class="subsection-e">  <b>(1) </b>This Section applies to manufactured <i>buildings</i> designed and constructed in conformance with CAN/CSA-Z241 Series, "Park Model Trailers", and used or intended to be used as a seasonal recreational <i>building</i> of <i>residential occupancy</i>.</p> <p class="ruleb-e">9.38.2. General</p> 
	  
      
	  
	  
	  
	  
    </div>