<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Multiple Occupancies
	  </h1>
      <p>
</p><p class="section-e"><b>11.2.1.2. Multiple Occupancies</b></p> <p class="subsection-e">  <b>(1) </b>The classification of an existing <i>building</i> of multiple <i>occupancy</i> under Article <a href="/content/2230" title="Construction Index and Hazard Index">11.2.1.1.</a> shall be applied according to Articles <a href="/content/131" title="Applicable Building Height and Area">3.2.2.5.</a> to <a href="/content/134" title="Exceptions for Major Occupancies">3.2.2.8.</a></p> 
	  
      
	  
	  
	  
	  
    </div>