<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Multiple Occupancies
	  </h1>
      <p>
</p><p class="section-e"><b>11.2.1.2. Multiple Occupancies</b></p> <p class="subsection-e">  <b>(1) </b>The classification of an existing <i>building</i> of multiple <i>occupancy</i> under Article <a hx-post="/content/2230">11.2.1.1.</a> shall be applied according to Articles <a hx-post="/content/131">3.2.2.5.</a> to <a hx-post="/content/134">3.2.2.8.</a></p> 
	  
      
	  
	  
	  
	  
    </div>