<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Prohibition of Occupancy Combinations
	  </h1>
      <p>
</p><p class="section-e"><b>11.2.1.3. Prohibition of Occupancy Combinations</b></p> <p class="subsection-e">  <b>(1) </b>Nothing in this Part relieves an applicant from complying with the requirements of Article 3.1.3.2. or 9.10.9.12.</p> <p class="ruleb-e">Section 11.3. Proposed Construction</p> <p class="ruleb-e">11.3.1. New and Existing building Systems</p> 
	  
      
	  
	  
	  
	  
    </div>