<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Portion of Extended Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>11.3.2.1. Portion of Extended buildings</b></p> <p class="subsection-e">  <b>(1) </b>Where an existing <i>building</i> is extended,</p> <p class="clause-e">  (a) this Part applies to the existing portion of the <i>building</i>, and</p> <p class="clause-e">  (b) the extended portion of the <i>building</i> shall comply with all other Parts.</p> <p class="subsection-e">  <b>(2) </b><span class="ovsmallcap">Revoked</span>: O. Reg. 361/13, s. 97 (2).</p> <p class="ruleb-e">11.3.3. Renovation</p> 
	  
      
	  
	  
	  
	  
    </div>