<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural
	  </h1>
      <p>
</p><p class="section-e"><b>11.4.3.2. Structural</b></p> <p class="subsection-e">  <b>(1) </b>Where the <i>performance level</i> of an existing <i>building</i>is reduced under Sentence <a href="/content/2242" title="Structural">11.4.2.1.</a>(1),</p> <p class="clause-e">  (a) remedial measures shall be taken to support the proposed loads, or</p> <p class="clause-e">  (b) the portion of the floor affected by the proposed loads shall be restricted to the loading it will support and signs stating the restrictions shall be posted.</p> 
	  
      
	  
	  
	  
	  
    </div>