<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sewage Systems
	  </h1>
      <p>
</p><p class="section-e"><b>11.4.3.6. Sewage Systems</b></p> <p class="subsection-e">  <b>(1) </b>Where the <i>performance level</i> of an existing <i>building</i>is reduced under Article 11.4.2.5., upgrading of a <i>sewage system</i> which is adversely affected by the <i>construction</i>, increase in <i>occupant load,</i> increase in the total daily design <i>sanitary sewage </i>flow or change in amount or type of <i>sanitary sewage</i> shall be required in conformance with Part 8.</p> 
	  
      
	  
	  
	  
	  
    </div>