<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Extension of Buildings of Combustible Construction
	  </h1>
      <p>
</p><p class="section-e"><b>11.4.3.7. Extension of buildings of Combustible Construction</b></p> <p class="subsection-e">  <b>(1) </b>Where the <i>performance level</i> of an existing <i>building</i>is reduced under Article 11.4.2.6., the <i>building</i>shall be <i>sprinklered</i>.</p> <p class="ruleb-e">Section 11.5. Compliance Alternatives</p> <p class="ruleb-e">11.5.1. Compliance Alternatives</p> 
	  
      
	  
	  
	  
	  
    </div>