<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Windows and Sliding Glass Doors
	  </h1>
      <p>
</p><p class="section-e"><b>12.3.1.2. windows and Sliding glass doors</b></p> <p class="subsection-e"><b>  (1) </b>The energy rating and the overall coefficient of heat transfer required for windows and sliding glass doors shall be determined in conformance with,</p> <p class="clause-e">  (a) CAN/CSA-A440.2, "Fenestration Energy Performance", or</p> <p class="clause-e">  (b) NFRC 100, "Procedure for Determining Fenestration Product U-factors" and NFRC 200, "Procedure for Determining Fenestration Product Solar Heat Gain Coefficient and Visible Transmittance at Normal Incidence".</p> 
	  
      
	  
	  
	  
	  
    </div>