<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hot Water Piping Insulation
	  </h1>
      <p>
</p><p class="section-e"><b>12.3.1.4. Hot water Piping insulationinsulation</b></p> <p class="subsection-e"><b>  (1) </b>Hot water pipes that are vertically connected to a hot water storage tank shall have heat traps on both inlet and outlet piping as close as practical to the tank, except where the tank,</p> <p class="clause-e"><b>  (a) has an integral heat trap, or</b></p> <p class="clause-e"><b>  (b) serves a recirculating system.</b></p> <p class="subsection-e"><b>  (2) </b>The first 2.5 m of hot water outlet piping of a hot water storage tank serving a non-recirculating system shall be insulated to provide a thermal resistance of not less than RSI 0.62.</p> <p class="subsection-e"><b>  (3) </b>The inlet pipe of a hot water storage tank between the heat trap and the tank serving a non-recirculating system shall be insulated to provide a thermal resistance of not less than RSI 0.62.</p> 
	  
      
	  
	  
	  
	  
    </div>