<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cladding
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.4.8. Cladding</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted by Sentence <a href="/content/218" title="Construction of Exposing Building Face">3.2.3.7.</a>(6), cladding for a <i>building</i>within the scope of Article <a href="/content/170" title="Group C, up to 6 Storeys, Sprinklered, Combustible Construction">3.2.2.43A.</a> or <a href="/content/178" title="Group D, up to 6 Storeys, Sprinklered, Combustible Construction">3.2.2.50A.</a> that exceeds 4 <i>storeys</i> in <i>building height</i> or cladding for a <i>fire compartment</i> in such a <i>building</i> shall be <i>noncombustible</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>