<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Testing
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.8.11. Testing</b></p> <p class="subsection-e"><b>  (1) </b>The systems for smoke control and venting described in Articles <a href="/content/297" title="Exits">3.2.8.4.</a>, <a href="/content/298" title="Elevators">3.2.8.5.</a>, <a href="/content/299" title="Group B Sleeping Rooms">3.2.8.6.</a> and <a href="/content/302" title="Smoke Control">3.2.8.9.</a> shall be tested to ensure satisfactory operation.</p> <p class="ruleb-e">3.2.9. Standpipe Systems</p> 
	  
      
	  
	  
	  
	  
    </div>