<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Door Latches
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.8.13. door Latches</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence <a href="/content/351" title="Fire Separations">3.3.3.2.</a>(5) and Article <a href="/content/354" title="Hospitals and Long-Term Care Homes">3.3.3.5.</a>, a swing-type door in a <i>fire separation</i> shall be equipped with a positive latching mechanism designed to hold the door in the closed position after each use.</p> 
	  
      
	  
	  
	  
	  
    </div>