<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Area Limits for Wired Glass and Glass Block
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.8.16. Area Limits for wired glass and glass Block</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Article <a href="/content/76" title="Temperature Rise and Area Limits Waived">3.1.8.17.</a>, the maximum area of wired glass in a door used in the locations shown in Table <a href="/content/74" title="Temperature Rise Limit for Doors">3.1.8.15.</a> shall conform to the Table.</p> <p class="subsection-e"><b>  (2) </b>Except as permitted by Article <a href="/content/76" title="Temperature Rise and Area Limits Waived">3.1.8.17.</a>, the maximum area of glass block and wired glass panels not in a door, used in the locations shown in Table <a href="/content/74" title="Temperature Rise Limit for Doors">3.1.8.15.</a>, shall conform to the Table.</p> 
	  
      
	  
	  
	  
	  
    </div>