<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustibility of Service Penetrations
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.9.2. Combustibility of service Penetrations</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Articles <a hx-post="/content/80">3.1.9.3.</a> and <a hx-post="/content/81">3.1.9.4.</a>, pipes, ducts, electrical outlet boxes, totally enclosed raceways or other similar service equipment that penetrate an assembly required to have a <i>fire-resistance rating</i> shall be <i>noncombustible</i> unless the assembly has been tested incorporating that service equipment.</p> 
	  
      
	  
	  
	  
	  
    </div>